#### Read the given datasets ‘ServiceTrain.csv’ and ‘ServiceTest.csv’ as train data and test data respectively and import all the required packages for analysis.

##### Prepare the data by following the steps given below, and answer questions 5 and 6.
##### Encode categorical variable, Service - Yes as 1 and No as 0 for both the train and test datasets.
##### Split the set of independent features and the dependent feature on both the train and test datasets. 
##### Set random_state for the instance of the logistic regression class as 0.

##### After applying logistic regression, what is/are the correct observations from the resultant confusion matrix?

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [4]:
test_data = pd.read_csv("ServiceTest.csv")
train_data = pd.read_csv("ServiceTrain.csv")
test_data

        OilQual  EnginePerf  NormMileage    TyreWear    HVACwear Service
0     45.773338   49.936615    49.777581   48.263851   50.952072      No
1      4.987185    7.891003     6.588986    9.493161    3.240262      No
2      4.987185    4.891003     7.308986    8.373161    2.780262      No
3    106.388821  104.454032   103.051485  106.282658  105.536843      No
4    104.388821  103.744032   103.051485  106.132658  105.776843      No
..          ...         ...          ...         ...         ...     ...
130  103.388821  103.934032   102.941485  106.172658  105.536843      No
131    5.987185    6.081003     6.588986    8.373161    0.370262      No
132   25.385516   27.418265    32.309536   30.036162   31.311275     Yes
133   45.533338   49.666615    49.347581   51.263851   47.922072      No
134  104.388821  104.504032   102.461485  106.172658  105.536843      No

[135 rows x 6 columns]

In [5]:
train_data

        OilQual  EnginePerf  NormMileage    TyreWear    HVACwear Service
0    103.388821  103.504032   103.051485  106.172658  105.686843      No
1     26.765516   26.188265    31.259536   29.186162   31.311275     Yes
2     62.413282   63.681061    59.720883   64.704031   58.620518     Yes
3     45.533338   49.906615    48.777581   48.113851   47.952072      No
4    104.388821  103.284032   103.051485  105.822658  106.536843      No
..          ...         ...          ...         ...         ...     ...
310  105.168821  103.744032   103.051485  107.172658  104.856843      No
311  104.388821  105.744032   103.051485  105.782658  104.196843      No
312   63.823282   62.741061    59.720883   61.654031   62.620518     Yes
313   26.535516   27.418265    31.259536   27.486162   33.311275     Yes
314   26.215516   26.338265    31.259536   27.036162   31.311275     Yes

[315 rows x 6 columns]

In [69]:
#Encode categorical variable, Service - Yes as 1 and No as 0 for both the train and test datasets.

train_data["Service"] = train_data["Service"].map({"Yes": 1, "No": 0})

train_data

        OilQual  EnginePerf  NormMileage    TyreWear    HVACwear  Service
0    103.388821  103.504032   103.051485  106.172658  105.686843        0
1     26.765516   26.188265    31.259536   29.186162   31.311275        1
2     62.413282   63.681061    59.720883   64.704031   58.620518        1
3     45.533338   49.906615    48.777581   48.113851   47.952072        0
4    104.388821  103.284032   103.051485  105.822658  106.536843        0
..          ...         ...          ...         ...         ...      ...
310  105.168821  103.744032   103.051485  107.172658  104.856843        0
311  104.388821  105.744032   103.051485  105.782658  104.196843        0
312   63.823282   62.741061    59.720883   61.654031   62.620518        1
313   26.535516   27.418265    31.259536   27.486162   33.311275        1
314   26.215516   26.338265    31.259536   27.036162   31.311275        1

[315 rows x 6 columns]

In [6]:
# Split the set of independent features and the dependent feature on both the train and test datasets.¶
x_train = train_data.drop(columns ="Service")
x_train

        OilQual  EnginePerf  NormMileage    TyreWear    HVACwear
0    103.388821  103.504032   103.051485  106.172658  105.686843
1     26.765516   26.188265    31.259536   29.186162   31.311275
2     62.413282   63.681061    59.720883   64.704031   58.620518
3     45.533338   49.906615    48.777581   48.113851   47.952072
4    104.388821  103.284032   103.051485  105.822658  106.536843
..          ...         ...          ...         ...         ...
310  105.168821  103.744032   103.051485  107.172658  104.856843
311  104.388821  105.744032   103.051485  105.782658  104.196843
312   63.823282   62.741061    59.720883   61.654031   62.620518
313   26.535516   27.418265    31.259536   27.486162   33.311275
314   26.215516   26.338265    31.259536   27.036162   31.311275

[315 rows x 5 columns]

In [7]:
y_train = train_data["Service"]
y_train

0       No
1      Yes
2      Yes
3       No
4       No
      ...
310     No
311     No
312    Yes
313    Yes
314    Yes
Name: Service, Length: 315, dtype: object

In [102]:
model = LogisticRegression(random_state = 0)
model.fit(train_x, train_y)

prediction = model.predict(x_test)

confusion_matrix = confusion_matrix(y_test, prediction)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
rmse

In [8]:
# Compute the 3rd Quartile of ManBI
q3_train = train_data["ManBI"].quantile(0.75)
q3_test = test_data["ManBI"].quartile(0.75)
q3_diff = q3_train - q3_test

print(q3_train)

KeyError: 'ManBI'