In [1]:
# to Change the file Directory
import os

In [2]:
# file Directory Path
os.chdir(r"D:\Code-Hero-Hub\PYTHON\Data Science\Spyder")

In [3]:
# pandas for data frames
import pandas as pd

In [4]:
# Read the dataset a the csv format
Data_csv =pd.read_csv("Iris_data_sample.csv")
Data_csv

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
# remove the extra column
Data_csv1 = pd.read_csv("Iris_data_sample.csv", index_col=0)
Data_csv1

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1             5.1           3.5           1.4           0.2     Iris-setosa
2             4.9           NaN           1.4           0.2             NaN
3             4.7           3.2           1.3           0.2     Iris-setosa
4              ??           3.1           1.5           0.2     Iris-setosa
5               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
146           6.7           3.0           5.2           2.3  Iris-virginica
147           6.3           2.5             5           1.9  Iris-virginica
148           6.5           3.0           5.2           2.0  Iris-virginica
149           6.2           3.4           5.4           2.3  Iris-virginica
150           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
# Remove the missing value and consider as null
Data_csv2 = pd.read_csv("Iris_data_sample.csv", index_col=0, na_values=["??", "###"])
Data_csv2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
# read the Dataset as text file
Data_txt = pd.read_table("Iris_data_sample.txt")
Data_txt

    "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]

In [8]:
# remove the extra column
Data_txt1 = pd.read_table("Iris_data_sample.txt", index_col=0)
Data_txt1

Empty DataFrame
Columns: []
Index: [1 1 5.1 3.5 1.4 0.2 "Iris-setosa", 2 2 4.9 3 1.4 0.2 "Iris-setosa", 3 3 4.7 3.2 1.3 0.2 "Iris-setosa", 4 4 4.6 3.1 1.5 0.2 "Iris-setosa", 5 5 5 3.6 1.4 0.2 "Iris-setosa", 6 6 5.4 3.9 1.7 0.4 "Iris-setosa", 7 7 4.6 3.4 1.4 0.3 "Iris-setosa", 8 8 5 3.4 1.5 0.2 "Iris-setosa", 9 9 4.4 2.9 1.4 0.2 "Iris-setosa", 10 10 4.9 3.1 1.5 0.1 "Iris-setosa", 11 11 5.4 3.7 1.5 0.2 "Iris-setosa", 12 12 4.8 3.4 1.6 0.2 "Iris-setosa", 13 13 4.8 3 1.4 0.1 "Iris-setosa", 14 14 4.3 3 1.1 0.1 "Iris-setosa", 15 15 5.8 4 1.2 0.2 "Iris-setosa", 16 16 5.7 4.4 1.5 0.4 "Iris-setosa", 17 17 5.4 3.9 1.3 0.4 "Iris-setosa", 18 18 5.1 3.5 1.4 0.3 "Iris-setosa", 19 19 5.7 3.8 1.7 0.3 "Iris-setosa", 20 20 5.1 3.8 1.5 0.3 "Iris-setosa", 21 21 5.4 3.4 1.7 0.2 "Iris-setosa", 22 22 5.1 3.7 1.5 0.4 "Iris-setosa", 23 23 4.6 3.6 1 0.2 "Iris-setosa", 24 24 5.1 3.3 1.7 0.5 "Iris-setosa", 25 25 4.8 3.4 1.9 0.2 "Iris-setosa", 26 26 5 3 1.6 0.2 "Iris-setosa", 27 27 5 3.4 1.6 0.4 "Iris-setosa", 28 28 5.2 3.5 1.5 0.2 "Iris-setosa", 29 29 5.2 3.4 1.4 0.2 "Iris-setosa", 30 30 4.7 3.2 1.6 0.2 "Iris-setosa", 31 31 4.8 3.1 1.6 0.2 "Iris-setosa", 32 32 5.4 3.4 1.5 0.4 "Iris-setosa", 33 33 5.2 4.1 1.5 0.1 "Iris-setosa", 34 34 5.5 4.2 1.4 0.2 "Iris-setosa", 35 35 4.9 3.1 1.5 0.1 "Iris-setosa", 36 36 5 3.2 1.2 0.2 "Iris-setosa", 37 37 5.5 3.5 1.3 0.2 "Iris-setosa", 38 38 4.9 3.1 1.5 0.1 "Iris-setosa", 39 39 4.4 3 1.3 0.2 "Iris-setosa", 40 40 5.1 3.4 1.5 0.2 "Iris-setosa", 41 41 5 3.5 1.3 0.3 "Iris-setosa", 42 42 4.5 2.3 1.3 0.3 "Iris-setosa", 43 43 4.4 3.2 1.3 0.2 "Iris-setosa", 44 44 5 3.5 1.6 0.6 "Iris-setosa", 45 45 5.1 3.8 1.9 0.4 "Iris-setosa", 46 46 4.8 3 1.4 0.3 "Iris-setosa", 47 47 5.1 3.8 1.6 0.2 "Iris-setosa", 48 48 4.6 3.2 1.4 0.2 "Iris-setosa", 49 49 5.3 3.7 1.5 0.2 "Iris-setosa", 50 50 5 3.3 1.4 0.2 "Iris-setosa", 51 51 7 3.2 4.7 1.4 "Iris-versicolor", 52 52 6.4 3.2 4.5 1.5 "Iris-versicolor", 53 53 6.9 3.1 4.9 1.5 "Iris-versicolor", 54 54 5.5 2.3 4 1.3 "Iris-versicolor", 55 55 6.5 2.8 4.6 1.5 "Iris-versicolor", 56 56 5.7 2.8 4.5 1.3 "Iris-versicolor", 57 57 6.3 3.3 4.7 1.6 "Iris-versicolor", 58 58 4.9 2.4 3.3 1 "Iris-versicolor", 59 59 6.6 2.9 4.6 1.3 "Iris-versicolor", 60 60 5.2 2.7 3.9 1.4 "Iris-versicolor", 61 61 5 2 3.5 1 "Iris-versicolor", 62 62 5.9 3 4.2 1.5 "Iris-versicolor", 63 63 6 2.2 4 1 "Iris-versicolor", 64 64 6.1 2.9 4.7 1.4 "Iris-versicolor", 65 65 5.6 2.9 3.6 1.3 "Iris-versicolor", 66 66 6.7 3.1 4.4 1.4 "Iris-versicolor", 67 67 5.6 3 4.5 1.5 "Iris-versicolor", 68 68 5.8 2.7 4.1 1 "Iris-versicolor", 69 69 6.2 2.2 4.5 1.5 "Iris-versicolor", 70 70 5.6 2.5 3.9 1.1 "Iris-versicolor", 71 71 5.9 3.2 4.8 1.8 "Iris-versicolor", 72 72 6.1 2.8 4 1.3 "Iris-versicolor", 73 73 6.3 2.5 4.9 1.5 "Iris-versicolor", 74 74 6.1 2.8 4.7 1.2 "Iris-versicolor", 75 75 6.4 2.9 4.3 1.3 "Iris-versicolor", 76 76 6.6 3 4.4 1.4 "Iris-versicolor", 77 77 6.8 2.8 4.8 1.4 "Iris-versicolor", 78 78 6.7 3 5 1.7 "Iris-versicolor", 79 79 6 2.9 4.5 1.5 "Iris-versicolor", 80 80 5.7 2.6 3.5 1 "Iris-versicolor", 81 81 5.5 2.4 3.8 1.1 "Iris-versicolor", 82 82 5.5 2.4 3.7 1 "Iris-versicolor", 83 83 5.8 2.7 3.9 1.2 "Iris-versicolor", 84 84 6 2.7 5.1 1.6 "Iris-versicolor", 85 85 5.4 3 4.5 1.5 "Iris-versicolor", 86 86 6 3.4 4.5 1.6 "Iris-versicolor", 87 87 6.7 3.1 4.7 1.5 "Iris-versicolor", 88 88 6.3 2.3 4.4 1.3 "Iris-versicolor", 89 89 5.6 3 4.1 1.3 "Iris-versicolor", 90 90 5.5 2.5 4 1.3 "Iris-versicolor", 91 91 5.5 2.6 4.4 1.2 "Iris-versicolor", 92 92 6.1 3 4.6 1.4 "Iris-versicolor", 93 93 5.8 2.6 4 1.2 "Iris-versicolor", 94 94 5 2.3 3.3 1 "Iris-versicolor", 95 95 5.6 2.7 4.2 1.3 "Iris-versicolor", 96 96 5.7 3 4.2 1.2 "Iris-versicolor", 97 97 5.7 2.9 4.2 1.3 "Iris-versicolor", 98 98 6.2 2.9 4.3 1.3 "Iris-versicolor", 99 99 5.1 2.5 3 1.1 "Iris-versicolor", 100 100 5.7 2.8 4.1 1.3 "Iris-versicolor", ...]

[150 rows x 0 columns]

In [9]:
# Remove the missing value and consider as null
Data_txt2 = pd.read_table("Iris_data_sample.txt", sep=" ")
Data_txt2

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [10]:
# Remove the missing value and consider as null
Data_txt3 = pd.read_table("Iris_data_sample.txt", index_col=0, na_values=["??", "###"], delimiter=" ")
Data_txt3

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
# Read the Dataset as Excel format
Data_Excel =pd.read_excel("Iris_data_sample.xlsx")
Data_Excel

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
# remove the extra column
Data_excel1 = pd.read_excel("Iris_data_sample.xlsx", index_col=0)
Data_excel1

    SepalLengthCm  SepalWidthCm PetalLengthCm  PetalWidthCm         Species
1             5.1           3.5           1.4           0.2     Iris-setosa
2             4.9           NaN           1.4           0.2             NaN
3             4.7           3.2           1.3           0.2     Iris-setosa
4              ??           3.1           1.5           0.2     Iris-setosa
5               5           3.6           ###           0.2     Iris-setosa
..            ...           ...           ...           ...             ...
146           6.7           3.0           5.2           2.3  Iris-virginica
147           6.3           2.5             5           1.9  Iris-virginica
148           6.5           3.0           5.2           2.0  Iris-virginica
149           6.2           3.4           5.4           2.3  Iris-virginica
150           5.9           3.0           5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
# Remove the missing value and consider as null
Data_excel2 = pd.read_excel("Iris_data_sample.xlsx", index_col=0, na_values=["??", "###"])
Data_excel2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           NaN            1.4           0.2             NaN
3              4.7           3.2            1.3           0.2     Iris-setosa
4              NaN           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            NaN           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]